In [1]:
import numpy as np
%run Function.py

### Load data from mysql database

In [2]:
data = loadData('root', 'xzx970413', 'Wechat_inf', "User_inf", 3306)
data.head()

       User_id  User_Age  User_Work_year  Income  Debt  Borrow  Repay
0      1435223      24.0             2.0    28.0  17.3       1      0
1       172344      40.0            15.0   120.0   2.9       1      1
2  18661377320       NaN             NaN     0.0   0.0       1      0
3      1927233      43.0            12.0    38.0   3.6       1      1
4       234567      41.0            17.0   176.0   9.3       1      0

### Preprocess data 
Now just delete rows that contain NaN,
in future we could use some feature selection method

In [3]:
nan_index = []

for i in range(data.shape[0]):
    if (data.iloc[i].isna().any()):
        print(i)
        nan_index.append(i)

data = data.drop(nan_index, axis = 0)

data

2

      User_id  User_Age  User_Work_year  Income  Debt  Borrow  Repay
0     1435223      24.0             2.0    28.0  17.3       1      0
1      172344      40.0            15.0   120.0   2.9       1      1
3     1927233      43.0            12.0    38.0   3.6       1      1
4      234567      41.0            17.0   176.0   9.3       1      0
5       25233      39.0            20.0    67.0  30.6       1      1
6     2667623      28.0            10.0    31.0  17.3       0      1
7    34332423      27.0             0.0    16.0   1.7       0      1
8   657851236      21.0             0.0     0.0   0.0       1      1
9     7223654      36.0            13.0    25.0  19.7       0      0
10     783423      41.0             5.0    25.0  10.2       0      1

### Get training/test data set and labels

In [4]:
[Borrow, Repay] = splitData(data)

(X_train1, X_test1, y_train1, y_test1) = Borrow
(X_train2, X_test2, y_train2, y_test2) = Repay

### Build the model

In [5]:
GA_method = ['gradAscent', 'stocGradAscent', 'stocGradAscent1' ]
weights_borrow = logisticRegressionModel(X_train1, 
                                         y_train1,
                                         GA_method[1])
weights_repay = logisticRegressionModel(X_train2, 
                                        y_train2,
                                        GA_method[0])

### Accuracy and recall rate

In [12]:
y_predict1 = np.dot(X_test1, weights_borrow)